* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #007878;
}

.head {
  color: white;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
}

.service ul span {
  width: 1px;
  height: 20px;
  background-color: white;
}

.navigateSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.navigateSection .icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navigateSection a {
  color: black;
  text-decoration: none;
}

.input {
  position: relative;
  width: 400px;
  height: 40px;
  input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
  }
}
.input i {
  position: absolute;
  right: 15px;
  top: 30%;
  font-size: 20px;
}

.navSection ul {
  display: flex;
  gap: 55px;
  align-items: center;
  list-style: none;
  padding: 0;
}


.navSection a {
  color: black;
  text-decoration: none;
  &:hover{
    color: #007878;
  }
}

.section-advantages {
  background-color: #f7f7f7;
  .advantages-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding: 40px 0;
    .advantages-text {
      display: flex;
      align-items: center;
      gap: 10px;

      i {
        font-size: 48px;
        color: #007878;
      }
      p {
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
.section2 {
  background-color: #ffe2e0;
}

.slide-bag {
  padding: 50px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.slide-bag h4 {
  color: red;
  font-size: 24px;
  margin-top: 50px;
}

.slide-bag h1 {
  font-size: 40px;
  padding-bottom: 15px;
  font-weight: bold;
  margin-top: 20px;
}

button {
  width: 192px;
  height: 52px;
  border-radius: 8px;
  background-color: #007878;
  color: white;
  border: 1px solid #007878;
  margin-top: 50px;
  transition: .4s;
  &:hover{
    background-color: #005252;
  }
}

.section3 {
  background: #f9f9f9;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.icon {
  display: flex;
  align-items: center;
}
.image {
  width: 100%;
  img {
    width: 100%;
  }
}
.bag-select {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.bags {
  .bag-image {
    width: 100%;
    height: 100%;
  }
}

.bags {
  width: 260px;
  height: 160px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.bags img {
  bottom: 0;
  right: 0;
  position: absolute;
}

.bags p {
  text-align: start;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 20px;
}

.featured {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.row-card {
  margin-top: 40px;
}

.search-input {
  border: none;
  background-color: #f7f9fc;
  border-radius: 8px;
  &:focus {
    border: 2px solid #007878;
    outline: none;
  }
}
.bag_card {
  padding: 0 24px 24px;
  position: relative;
  width: 400px;
  height: 450px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  .image {
    width: 200px;
    height: 250px;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .head {
    position: absolute;
    top: 15px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
  }
  .card_text {
    p {
      font-family: "Rubik";
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      text-align: left;
      margin: 16px 0;
    }
  }
  .card_price {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    p {
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 600;
      line-height: 34px;
      text-align: left;
      color: #f75145;
      margin: 0;
    }
    span {
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      text-align: left;
      color: #363636bf;
    }
  }
}
.add_to_card {
  width: 312px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid black;
  align-content: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px;
  transition: all 0.5s;
  &:hover {
    background-color: black;
    color: white;
    border: none;
  }
}
.snobella-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
footer {
  background: #f9f9f9;
  margin-top: 100px;
  padding: 20px;
}

.common {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.snobella-footer {
  display: flex;
  justify-content: space-between;
}

.number {
  margin-top: 25px;
}

.footer-left p {
  width: 300px;
  font-size: 17px;
}

.footer-right {
  display: flex;
  gap: 45px;
}

.endFoot {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  div {
    display: flex;
    gap: 30px;
    a {
      font-size: 20px;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }
}
